@media screen and (max-width: 1280px) {
  header {
    .head {
      .menu {
        transform: translate(-45%, 200%);
        height: 50px;
        .menu__icon {
          span {
            display: block;
            position: absolute;
            height: 20px;
            width: 25%;
            background: #ffffff;
            border-radius: 9px;
            opacity: 1;
            left: 0;
            transform: rotate(0deg);
            transition: 0.25s ease-in-out;
          }
          span:nth-child(1) {
            top: 0px;
          }
          span:nth-child(2) {
            top: 23px;
          }
          span:nth-child(3) {
            top: 46px;
          }
          span:nth-child(4) {
            top: 69px;
          }
        }
        .menu__links {
          display: none;
        }
      }
      .menu_state_open {
        .menu__icon {
          span:nth-child(1) {
            top: 18px;
            width: 0%;
            left: 50%;
          }
          span:nth-child(2) {
            transform: rotate(45deg);
            top: 46px;
          }
          span:nth-child(3) {
            transform: rotate(-45deg);
          }
          span:nth-child(4) {
            top: 18px;
            width: 0%;
            left: 50%;
          }
        }
        .menu__links {
          display: flex;
          margin-left: 80%;
          width: 150px;
          height: 220px;
          flex-wrap: wrap;
          justify-content: center;
          font-size: 40px;
          font-weight: bold;
          z-index: 1000;
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  header {
    .head {
      @media (max-width:520px) {
        a {
          margin-left: -100px;
        }
      }
      .menu {
        .menu__icon {
          span {
            width: 35%;
          }
          @media (max-width: 560px) {
            span {
              width: 60%;
              margin-left: -20px;
            }
            @media (max-width: 460px) {
              span {
                width: 70%;
                margin-left: -60px;
              }
            }
            @media (max-width: 380px) {
              span {
                width: 100%;
                margin-left: -80px;
              }
            }
          }
        }
      }
    }
  }
}
