@media (min-width:2650px) {
    .clients {
        .slider {
            width: 40%;
        }
    }
}
@media (min-width:1926px) {
    .portfolio {
        .photos {
            justify-content: center;
            .first {
                width: 960px;
                .box:nth-child(1) {
                    width: 960px;
                    height: 480px;
                }
                .box:nth-child(2) {
                    width: 480px;
                    height: 305px;
                }
                .box:nth-child(3) {
                    width: 480px;
                    height: 305px;
                }
            }
            .second {
                width: 960px;
                .box {
                    width: 470px;
                    height: 738px;
                }
                .note-phone {
                    .box:nth-child(1) {
                        width: 480px;
                        height: 480px;
                    }
                    .box:nth-child(2) {
                        width: 480px;
                        height: 308px;
                    }
                }
            }
        }
    }
}
@media (min-width:1758px) {
    .blog {
        .line1 {
            .col1 {
                .block {
                    height: 417px;
                }
            }
        }
    }
}

@media (max-width:1600px) {
    .portfolio {
        height: 1645px;
        .photos {
            flex-wrap: wrap;
            justify-content: center;
            height: 1460px;
            .first {
                width: 60%;
                height: 56%;
            }
            .second {
                margin-top: -100px;
                width: 60%;
                height: 56%;
                .note-phone {
                    height: 100%;
                    @media (max-width:1202px) {
                        .box:nth-child(2) {
                            margin-top: -105px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:1552px) {
    .blog {
        .line1 {
            .col1 {
                .block {
                    height: 313px;
                    padding: 30px 0px;
                }
            }
        }
    }
}
@media (min-width:1317px) {
    footer {
        .container {
            .getInTouch {
                form {
                    button {
                        transform: translate(-351%, 100%);
                    }
                }
            }
        }
    }
}
@media (max-width:1280px) {
    header {
        .aboutMe {
            width: 55%;
        }
        @media (max-width:800px) {
            .aboutMe {
                width: 70%;
            }
        }
    }
}

@media (max-width:1212px){
    .blog {
        .line1 {
            .col1 {
                .block {
                    .date, .eodem, .name {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}
@media (min-width:1212px) {
    .blog {
        .line1 {
            .col2 {
                .galery-slider {
                    padding: 80px 100px;
                }
                @media (min-width:1505px) {
                    .galery-slider {
                        padding: 80px 150px;
                    }
                }
                @media (min-width:1705px) {
                    .galery-slider {
                        padding: 80px 200px;
                    }
                }
                @media (min-width:1905px) {
                    .galery-slider {
                        padding: 80px 300px;
                    }
                }
                @media (min-width:2294px) {
                    .galery-slider {
                        padding: 80px 400px;
                    }
                }
                @media (min-width:2700px) {
                    .galery-slider {
                        padding: 80px 550px;
                    }
                }
            }
        }
    }
}
@media (min-width:1162px) {
    .blog {
        height: 900px;
    }
}
@media (max-width:1162px) {
    .blog {
        height: 1460px;
        .line1 {
            flex-wrap: wrap;
            .col1 {
                width: 50%;
            }
            .col2 {
                margin-top: 30px;
                width: 65%;
                .galery-slider {
                    padding: 80px 180px;
                }
            }
        }
    }
}
@media (max-width:1080px) {
    .About {
        height: 1300px;
        .tools {
            flex-wrap: wrap;
            height: 600px;
            .brand {
                width: 54%;
            }
        }
        .follow {
            margin-top: 100px;
        } 
    }
    .blog {
        .line2 {
            .box:nth-child(3) {
                h3 {
                    font-size: 20px;
                }
            }
        }
    }
}

@media (max-width:1040px) {
    .clients {
        height: 1400px;
    }
}
@media (max-width:1200px) {
    footer {
        .container {
            justify-content: center;
            flex-wrap: wrap;
            .contact {
                width: 70%;
                padding-left: 0px;
                .find {
                    padding-bottom: 0px;
                }
                .phone {
                    padding-bottom: 0px;
                }
                .day {
                    padding-bottom: 0px;
                }
                .sut {
                    padding-bottom: 0px;
                }
                .icons {
                    margin-top: 20px;
                }
            }
            .getInTouch {
                width: 70%;
                margin-top: 40px;
                form {
                justify-content: center;
                    button {
                        transform: translate(-250%, 100%);
                    }
                    @media (max-width:1034px) {
                        button {
                            transform: translate(0%, 0%);
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:900px) {
    .About {
        .follow {
            p {
                margin-left: 70px;
            }
            .icons {
                margin-left: 50px;
            }
        }
    }
}
@media (max-width:768px) {
    .About {
        height: 1600px;
        .text {
            flex-wrap: wrap;
            .investigate {
                width: 55%;
            }
            .qestigate {
                width: 55%;
                margin-top: 30px;
            }
        }
        .tools {
            height: 660px;
            .brand {
                width: 70%;
            }
        }
        .follow {
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 50px;
            p, .icons{
                width: 100%;
                text-align: center;
                margin-left: 0px;
                margin-bottom: 20px;
            }
        }
    }
}

@media (max-width:646px){
    .About {
        height: 1720px;
    }
} 

@media (max-width:537px) {
    .About {
        height: 1990px;
        .tools {
            height: 850px;
        }
    }
}